@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #09090b;
    color: #e4e4e7;
    -webkit-font-smoothing: antialiased;
  }
}

/* Custom Scrollbar for "Premium" feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #09090b;
}
::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 9999px;
}
